/**
 * This component is used to display a current or past chat session between a customer and a service agent.
 * It appears in the form of a "Log"
 *
 * @summary Root container of a chat session
 *
 * @name base
 * @selector .slds-chat
 * @restrict section[role="log"]
 * @variant
 */
.slds-chat {
  margin-bottom: 0.75rem;
}

/**
 * The chat payload should be displayed in the form of a list. Each item in the list has a number of vertical and horizontal spacing rules based on its type
 *
 * @summary Handles the display of chat items within a list
 *
 * @selector .slds-chat-list
 * @restrict .slds-chat ul
 */
.slds-chat-list {
  padding: 0 0.6rem 0.35rem 0.6rem;
  min-height: 500px;
  height: 500px;
  overflow-y: scroll;
  background: #fff;
}

/**
 * @summary Handles spacing and direction of items in the list
 *
 * @selector .slds-chat-listitem
 * @restrict .slds-chat-list li
 */
.slds-chat-listitem {
  display: -ms-flexbox;
  display: flex;
  padding: 0.2rem 0; }

/**
 * @summary Modifier used to style outbound message list items
 *
 * @selector .slds-chat-listitem_outbound
 * @restrict .slds-chat-listitem
 * @modifier
 */
.slds-chat-listitem_outbound {
  -ms-flex-pack: end;
      justify-content: flex-end; }

/**
 * @summary Modifier used to style inbound message list items
 *
 * @selector .slds-chat-listitem_inbound
 * @restrict .slds-chat-listitem
 * @modifier
 */
/**
 * @summary Selector to style sibling, same type message list items
 *
 * @selector .slds-chat-listitem_inbound + .slds-chat-listitem_inbound, .slds-chat-listitem_outbound + .slds-chat-listitem_outbound
 */
.slds-chat-listitem_inbound + .slds-chat-listitem_inbound,
.slds-chat-listitem_outbound + .slds-chat-listitem_outbound {
  margin-top: 0.25rem; }

/**
 * @summary Modifier used for spacing bookend items
 *
 * @selector .slds-chat-listitem_bookend
 * @restrict .slds-chat-listitem
 * @modifier
 */
.slds-chat-listitem_bookend {
  margin: 1rem 0; }

.slds-chat-listitem_bookend + .slds-chat-listitem_bookend {
  margin-top: 3rem; }

/**
 * @summary Modifier used for spacing event items
 *
 * @selector .slds-chat-listitem_event
 * @restrict .slds-chat-listitem
 * @modifier
 */
.slds-chat-listitem_event {
  margin: 0.75rem 0; }

/**
 * @summary Used to style icons with a chat log
 *
 * @selector .slds-chat-icon
 * @restrict .slds-chat-message__text .slds-icon_container, .slds-chat-event__body .slds-icon_container, .slds-chat-bookend .slds-icon_container
 */
.slds-chat-icon {
  margin-right: 0.5rem; }

.slds-chat-icon .slds-icon {
  fill: #706e6b; }

/**
 * Chat logs are mainly made up of chat messages between an agent and a customer
 *
 * @summary styles the outter part of a chat message
 *
 * @selector .slds-chat-message
 * @restrict .slds-chat-listitem div
 */
.slds-chat-message {
  display: -ms-flexbox;
  display: flex; }

/**
 * @summary Used for when customer avatars are used in consequtive inbound messages to align the message body with the previous message
 *
 * @selector .slds-chat-message_faux-avatar
 * @restrict .slds-chat-message
 * @modifier
 */
.slds-chat-message_faux-avatar {
  padding-left: 2.5rem; }

/**
 * @summary Used to style avatars in chat logs
 *
 * @selector .slds-chat-avatar
 * @restrict .slds-chat-message .slds-avatar
 */
.slds-chat-avatar {
  margin-right: 0.5rem;
  min-width: 2rem; }

/**
 * @summary Used to style the avatar intials for chat
 *
 * @selector .slds-chat-avatar__intials
 * @restrict .slds-chat-avatar .slds-avatar__initials
 */
.slds-chat-avatar__intials {
  background-color: #f2f2f3;
  color: #706e6b; }

.slds-chat-avatar__intials.slds-chat-avatar__intials:hover {
  color: #706e6b; }

/**
 * @summary Used to contain and align chat messages with their avatars
 *
 * @selector .slds-chat-message__body
 * @restrict .slds-chat-message div
 */
/**
 * @summary Used to style the chat text from agent or customer
 *
 * @selector .slds-chat-message__text
 * @restrict .slds-chat-message__body div
 */
.slds-chat-message__text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 0.8125rem;
  max-width: 420px;
  white-space: pre-line; }

.slds-chat-message__text a {
  color: #005fb2;
  text-decoration: underline; }

.slds-chat-message__text a:hover {
  text-decoration: none; }

.slds-chat-message__text_inbound,
.slds-chat-message__text_outbound,
.slds-chat-message__text_outbound-agent {
  border-radius: 0.5rem 0.5rem 0;
  color: white;
  min-height: 2rem;
  padding: 0.5rem; }

/**
 * @summary Used for any specific inbound text styling
 *
 * @selector .slds-chat-message__text_inbound
 * @restrict .slds-chat-message__text
 * @modifier
 */
.slds-chat-message__text_inbound {
  background-color: #f2f2f3;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
  color: #3e3e3c; }

/**
 * @summary Used for any specific outbound text styling
 *
 * @selector .slds-chat-message__text_outbound
 * @restrict .slds-chat-message__text
 * @modifier
 */
.slds-chat-message__text_outbound {
  background-color: #005fb2; }

/**
 * @summary Used for any specific outbound (from another agent) text styling
 *
 * @selector .slds-chat-message__text_outbound-agent
 * @restrict .slds-chat-message__text
 * @modifier
 */
.slds-chat-message__text_outbound-agent {
  background-color: #6b6d70; }

.slds-chat-message__text_outbound a,
.slds-chat-message__text_outbound-agent a {
  color: white;
  text-decoration: underline; }

/**
 * @summary Used when sneak peak is enabled for customer messages
 *
 * @selector .slds-chat-message__text_sneak-peak
 * @restrict .slds-chat-message__text
 * @modifier
 */
.slds-chat-message__text_sneak-peak {
  font-style: italic; }

.slds-chat-message__text_sneak-peak .slds-icon-typing {
  margin-right: 0.5rem; }

/**
 * @summary Used to style chat message meta data
 *
 * @selector .slds-chat-message__meta
 * @restrict .slds-chat-message div
 */
.slds-chat-message__meta {
  color: #706e6b;
  font-size: 0.75rem;
  margin: 0.125rem 0 0 0.5rem; }

/**
 * During any chat, certain events can occur which need to be displayed to the user
 *
 * @selector .slds-chat-event
 * @restrict .slds-chat-listitem div
 */
.slds-chat-event {
  -ms-flex-align: center;
      align-items: center;
  color: #706e6b;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 0.8125rem;
  text-align: center;
  width: 100%;
  /**
    * @summary Modifier to indicate the event was an error
    *
    * @selector .slds-has-error
    * @restrict .slds-chat-event[role="alert"]
    * @modifier
    */ }

.slds-chat-event.slds-has-error {
  color: #c23934; }

.slds-chat-event.slds-has-error svg {
  fill: #c23934; }

/**
  * @summary Used to style the horizontal rules on an event
  *
  * @selector .slds-chat-event__rule
  * @restrict .slds-chat-event div
  */
.slds-chat-event__rule {
  border-top: 1px #dddbda solid;
  height: 1px;
  -ms-flex-positive: 1;
      flex-grow: 1;
  }

/**
  * @summary Used for styling the event body text
  *
  * @selector .slds-chat-event__body
  * @restrict .slds-chat-event div
  */
.slds-chat-event__body {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0.5rem;
  max-width: 80%;
  word-wrap: break-word;
}

/**
  * @summary Used to style any messages from an agent in the event
  *
  * @selector .slds-chat-event__agent-message
  * @restrict .slds-chat-event div
  */
.slds-chat-event__agent-message {
  -ms-flex-positive: 3;
      flex-grow: 3;
  font-size: 0.75rem;
  font-style: italic;
  margin-top: 0.5rem;
  width: 100%; }

/**
 * Chat sessions are started and stopped with bookends to the conversation
 *
 * @summary Used to style a chat bookend
 *
 * @selector .slds-chat-bookend
 * @restrict .slds-chat-listitem div
 */
.slds-chat-bookend {
  -ms-flex-align: center;
      align-items: center;
  border: #dddbda 0 solid;
  border-bottom-width: 1px;
  color: #706e6b;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8125rem;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 0.4rem 0 0.4rem 0;
  width: 100%; }

/**
 * @summary Modifier for bookends which stop a chat session
 *
 * @selector .slds-chat-bookend_stop
 * @restrict .slds-chat-bookend
 * @modifier
 */
.slds-chat-bookend_stop {
  border-width: 1px 0 0; }

/**
 *  Past chat logs are displayed differently for ease of scanning
 *
 * @summary Apply when displaying chat logs that appeared in the past
 *
 * @variant
 * @name past
 * @selector .slds-chat_past
 * @restrict section[role="log"]
 */
.slds-chat_past .slds-chat-listitem_event {
  margin: 1rem 0; }

.slds-chat_past .slds-chat-message__meta {
  margin: 0.25rem 0 0; }

.slds-chat_past .slds-chat-message__meta b {
  color: #3e3e3c; }

.slds-button + .slds-button-group,
.slds-button + .slds-button-group-list-center {
  margin-left: 0.25rem; }

/**
 * @summary Creates button group container
 *
 * @name base
 * @selector .slds-button-group
 * @restrict div
 * @variant
 */
.slds-button-group,
.slds-button-group-list-center {
  display: -ms-inline-flex;
  display: inline-flex; }

.slds-button-group .slds-button,
.slds-button-group-list-center .slds-button {
  border-radius: 0; }

.slds-button-group .slds-button:focus,
.slds-button-group-list-center .slds-button:focus {
  z-index: 1; }

.slds-button-group .slds-button + .slds-button,
.slds-button-group .slds-button + .slds-button_last .slds-button,
.slds-button-group .slds-button + .slds-button--last .slds-button,
.slds-button-group-list-center li + li .slds-button {
  margin-left: -1px; }

.slds-button-group-list-center li:first-child .slds-button,
.slds-button-group .slds-button:first-child {
  border-radius: 0.25rem 0 0 0.25rem; }

/**
 * These selectors must remain in long hand in order to zero out borders that
 * we don't want on last-child or :only-child wrapped buttons
 *
 * @selector .slds-button_last
 * @restrict .slds-button-group div, .slds-button-group-list-center div
 */
.slds-button-group .slds-button:last-child,
.slds-button-group-list-center li:last-child .slds-button,
.slds-button-group .slds-button_last .slds-button,
.slds-button-group .slds-button--last .slds-button,
.slds-button-group .slds-button.slds-button_last,
.slds-button-group .slds-button.slds-button--last,
.slds-button-group .slds-button_last .slds-button:only-child,
.slds-button-group .slds-button--last .slds-button:only-child,
.slds-button-group .slds-button.slds-button_last,
.slds-button-group .slds-button.slds-button--last {
  border-radius: 0 0.25rem 0.25rem 0; }

.slds-button-group .slds-button:only-child,
.slds-button-group-list-center li:only-child .slds-button {
  border-radius: 0.25rem; }

.slds-button-group + .slds-button-group,
.slds-button-group + .slds-button-group-list-center,
.slds-button-group + .slds-button,
.slds-button-group-list-center + .slds-button-group-list-center,
.slds-button-group-list-center + .slds-button-group,
.slds-button-group-list-center + .slds-button {
  margin-left: 0.25rem; }

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.saving span {
  color: black;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.saving span:nth-child(2) {
  animation-delay: .2s;
}

.saving span:nth-child(3) {
  animation-delay: .4s;
}
